.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
}

.controls,
.history {
  margin-top: 20px;
}

button {
  margin: 5px;
  padding: 10px;
}

/*  dark mode - light mode  */

.light-mode {
  background: rgb(101, 253, 255);
  background: linear-gradient(
    119deg,
    rgba(101, 253, 255, 1) 0%,
    rgba(150, 190, 116, 1) 64%,
    rgba(215, 185, 119, 1) 100%
  );
  color: #333;
}

.dark-mode {
  background: rgb(40, 60, 64);
  background: linear-gradient(
    126deg,
    rgba(40, 60, 64, 1) 0%,
    rgba(2, 0, 36, 1) 60%,
    rgba(28, 28, 82, 1) 81%
  );
}
.dark-mode h1 {
  color: #fff;
}
.dark-mode .btn {
  background-color: #3c3c51;
  color: #fff;
}
.dark-mode .btn:hover {
  background-color: #444;
}
.dark-mode .history {
  color: #fff;
}
.dark-mode .btn-li-history {
  background-color: rgb(50, 76, 117);
}
.dark-mode .btn-li-history:hover {
  background-color: rgb(31, 52, 105);
}
